schema-test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="starttime" type="xs:string"/>
  <xs:element name="endtime" type="xs:string"/>
  <xs:element name="c" type="xs:string"/>
  <xs:element name="rate" type="xs:string"/>
  <xs:element name="export">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="csv"/>
          <xs:attribute type="xs:string" name="binary"/>
          <xs:attribute type="xs:string" name="csvbinary"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="interprate" type="xs:string"/>
  <xs:element name="randomseed" type="xs:string"/>
  <xs:element name="adc_bits" type="xs:string"/>
  <xs:element name="oversample" type="xs:string"/>
  <xs:element name="rcs">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="model">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="efficiency" type="xs:string"/>
  <xs:element name="window_skip" type="xs:string"/>
  <xs:element name="window_length" type="xs:string"/>
  <xs:element name="prf" type="xs:string"/>
  <xs:element name="noise_temp" type="xs:string"/>
  <xs:element name="power" type="xs:string"/>
  <xs:element name="carrier" type="xs:string"/>
  <xs:element name="alpha" type="xs:string"/>
  <xs:element name="weight" type="xs:string"/>
  <xs:element name="frequency" type="xs:string"/>
  <xs:element name="noise_entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="alpha"/>
        <xs:element ref="weight"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="freq_offset" type="xs:string"/>
  <xs:element name="phase_offset" type="xs:string"/>
  <xs:element name="factor" type="xs:string"/>
  <xs:element name="nx" type="xs:string"/>
  <xs:element name="ny" type="xs:string"/>
  <xs:element name="nz" type="xs:string"/>
  <xs:element name="d" type="xs:string"/>
  <xs:element name="x" type="xs:string"/>
  <xs:element name="y" type="xs:string"/>
  <xs:element name="altitude" type="xs:string"/>
  <xs:element name="time" type="xs:string"/>
  <xs:element name="positionwaypoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="x"/>
        <xs:element ref="y"/>
        <xs:element ref="altitude"/>
        <xs:element ref="time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startazimuth" type="xs:string"/>
  <xs:element name="azimuthrate" type="xs:string"/>
  <xs:element name="startelevation" type="xs:string"/>
  <xs:element name="elevationrate" type="xs:string"/>
  <xs:element name="elevation">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="gain"/>
        <xs:element ref="angle"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="azimuth">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="gain"/>
        <xs:element ref="angle"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="motionpath">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="positionwaypoint" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="interpolation"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fixedrotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="startazimuth"/>
        <xs:element ref="azimuthrate"/>
        <xs:element ref="startelevation"/>
        <xs:element ref="elevationrate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rotationwaypoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="elevation"/>
        <xs:element ref="azimuth"/>
        <xs:element ref="time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gain" type="xs:string"/>
  <xs:element name="angle" type="xs:string"/>
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="starttime"/>
        <xs:element ref="endtime"/>
        <xs:element ref="c"/>
        <xs:element ref="rate"/>
        <xs:element ref="export"/>
        <xs:element ref="interprate"/>
        <xs:element ref="randomseed"/>
        <xs:element ref="adc_bits"/>
        <xs:element ref="oversample"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="target">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rcs"/>
        <xs:element ref="model"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="antenna">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="efficiency"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="pattern"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiver">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="window_skip"/>
        <xs:element ref="window_length"/>
        <xs:element ref="prf"/>
        <xs:element ref="noise_temp"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="antenna"/>
      <xs:attribute type="xs:string" name="timing"/>
      <xs:attribute type="xs:string" name="nodirect"/>
      <xs:attribute type="xs:string" name="nopropagationloss"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pulse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="power"/>
        <xs:element ref="carrier"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="type"/>
      <xs:attribute type="xs:string" name="filename"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="timing">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="frequency"/>
        <xs:element ref="noise_entry">
          <xs:annotation>
            <xs:documentation> [Hz]  [dBc/Hz] </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="freq_offset"/>
        <xs:element ref="phase_offset">
          <xs:annotation>
            <xs:documentation> [Hz] </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="synconpulse"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="transmitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="prf"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="type"/>
      <xs:attribute type="xs:string" name="pulse"/>
      <xs:attribute type="xs:string" name="antenna"/>
      <xs:attribute type="xs:string" name="timing"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="multipath">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="factor"/>
        <xs:element ref="nx"/>
        <xs:element ref="ny"/>
        <xs:element ref="nz"/>
        <xs:element ref="d"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="monostatic">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="window_skip"/>
        <xs:element ref="window_length"/>
        <xs:element ref="prf"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="type"/>
      <xs:attribute type="xs:string" name="antenna"/>
      <xs:attribute type="xs:string" name="pulse"/>
      <xs:attribute type="xs:string" name="timing"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="platform">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="motionpath"/>
        <xs:element ref="fixedrotation"/>
        <xs:element ref="rotationwaypoint" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="interpolation"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="simulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameters"/>
        <xs:element ref="target"/>
        <xs:element ref="antenna"/>
        <xs:element ref="receiver"/>
        <xs:element ref="pulse"/>
        <xs:element ref="timing">
          <xs:annotation>
            <xs:documentation> [radians] </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="transmitter"/>
        <xs:element ref="multipath"/>
        <xs:element ref="monostatic"/>
        <xs:element ref="platform"/>
        <xs:element ref="elevation">
          <xs:annotation>
            <xs:documentation> XML Gain Patterns </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="azimuth"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>